body {
  // background: linear-gradient(232deg, #30343f, #73628a, #e7cfed);
  background-color: #eeeeee;
}

#map-canvas {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

img {
  width: 190px
}

.bloomIcon {
  font-family: 'Dawning of a New Day', cursive;
  font-weight: 900;
  font-size: 35px;
  margin: 0 0 0 0;
  padding: 0px 2px 0px 2px;
  background-color: rgba(255,105,180,1);
  color: white;
}

.signUpNavBarLi {
  margin: 0px;
  padding: 0px 4px 0px 4px;
  height: 52px;
}

.signUpNavBarA {
  margin-top: 8px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.logInNavBarLi {
  margin: 0px;
  padding: 0px 4px 0px 4px;
  height: 52px;
}

.logInNavBarA {
  margin-top: 8px;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.navigationBar {
  background-color: rgba(255, 155, 206,1);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0;
}


.styleModal {
  background-color: rgba(1,1,1,0);
  border: none;
  text-align: center;
  margin: 50px auto;
}

.mainImage {
  margin: 0 auto;
  text-align: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgba(255,105,180,1);
  transition-property: background-color, border-radius;
  transition-duration: 2s;
  transition-timing-function: linear, ease;
  h1 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 100px;
    font-weight: 800px;
    transition-property: color, padding-top;
    transition-duration: 2s;
    transition-timing-function: linear, ease;
    // vertical-align: middle;
    padding-top: 110px;
    margin-bottom: 0px;
    color: white;
  }

  h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 4px;
    transition-property: color, font-size;
    transition-duration: 2s;
    transition-timing-function: linear, ease;
    color: rgba(255,105,180,1);
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 3px;
    transition-property: color, font-size;
    transition-duration: 2s;
    transition-timing-function: linear, ease;
    color: rgba(255,105,180,1);
  }
}

.mainImage:hover {
  border-radius: 5px;
  background-color: rgba(255, 155, 206,1);
  h1 {
    color: #3F293C;
    text-decoration: underline;
    padding-top: 80px;
  }
  h6 {
    font-size: 15px;
    color: #3F293C;
  }
  p {
    font-size: 12px;
    color: #3F293C;
  }
}

.logInModal {
  width: 500px;
  text-align: center;
  background-color: rgba(255, 155, 206,1);
  padding: 5px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.addGardenModal {
  width: 500px;
  text-align: center;
  background-color: #56876D;
  padding: 5px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.logInForm {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.logInButton {
  border: 2px solid white;
  background-color: rgba(1,1,1,0);
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear, ease;
}

.logInButton:hover {
  background-color: rgba(255,105,180,1);
}

.signInModal {
  width: 500px;
  text-align: center;
  background-color: rgba(255, 155, 206,1);
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

.signInForm {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

.infoWindow {
  text-align: center;
  margin: 0 auto;
}

.infoWindowHeader {
  padding: 10px;
  background-color: #facade;
  color: white;
  border-radius: 2px 2px 0 0;
}

.rightSide {
  position: absolute;
  right: 170px;
}

.rightSide2 {
  position: absolute;
  right: 50px;
}

.helloUser {
  background-color: #56876D;
}

.userGardenModal {
  width: 500px;
  background-color: #56876D;
  ul {
    width: 500px;
  }
}

.editGardenModal {
  width: 500px;
  background-color: #56876D;
}

.modal-content {
  ul li {
    list-style-type: none;
  }
}
